.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    position: fixed;
    background: transparent;
}

.sidebar-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 35px;
}

.icon {
    cursor: pointer;
    font-size: x-large;
    border: none;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    position: relative;
    background-color: transparent;
    padding-top: 1.7rem;
}