.sidenav {
    height: 100%;
    width: 0;
    margin-right: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #162100;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
  }

  .show-sidenav {
    width: 250px;
    opacity: 0.8;
}
  
  .sidenav a {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #C8C8C8;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #FFFFFF;
    opacity: 1;
    font-weight: 600;
  }

  .close-btn {
    padding-top: 30px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

@media screen and (max-width: 800px) {
  .show-sidenav {
    width: 100%;
    opacity: 1;
  }
}