.icon-up {
    cursor: pointer;
    font-size: 3rem;
    border: none;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    position: relative;
    background-color: transparent;
    align-self: center;
    left: 50%;
    bottom: 20px;
}

.sidebar-open {
    background-color: rgba(0, 0, 0, 0.3);
}

.sidebar-closed {
    transition: background-color .5s;
}

@media screen and (max-width: 800px) {
    .icon-up {
        bottom: 0px;
        left: 45%;
        font-size: 2.5rem;
    }
}